.all-products{
    width: 93%;
    margin: 0 auto;
}

.all-products h3{
    padding: 13px;
    font-weight: 500;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 18px;
}

.product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-template-rows: auto;
    grid-gap: 5px;
    padding: 13px;
}

.product-slider{
    display: flex;
    overflow-x: hidden;
    padding-bottom: 1.7em;
    padding-left: 1em;
    position: relative;
}


.yellow{
    background-color: #FFD900;
}

.product-box{
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgb(228, 227, 227);
}

.category-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-template-rows: auto;
    grid-gap: 5px;
    padding: 13px;
}

.carousel-container{
    z-index: 50;
    position: relative;
}

.custom-arrows{
    display: flex;
}

.custom-arrows > .MuiSvgIcon-root{
    color: white;
    font-size: 2.4em;
}

@media only screen and (max-width: 1151px) {
    .all-products{
        width: 95%;
        max-width: 936px;
    }

    .product-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 5px;
        padding: 13px;
        padding-left: 6em;
    }

.category-row{
    display: grid;
    grid-template-columns: repeat(4, minmax(170px, 1fr));
    grid-template-rows: auto;
    grid-gap: 5px;
    padding: 13px;
}

.product-slider{
    display: grid;
    grid-template-columns: repeat(10, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-gap: 5px;
    padding: 13px;
}
}


@media only screen and (max-width: 953px) {
    .product-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 5px;
        padding: 13px;
        padding-left: 2em;
    }
}

@media only screen and (max-width: 959px) {
    .product-slider{
        display: grid;
        grid-template-columns: repeat(10, minmax(250px, 1fr));
        grid-template-rows: auto;
        grid-gap: 5px;
        padding: 13px;
    }

    .product-list{
        padding-left: 5em;
    }
}

@media only screen and (max-width: 900px) {
    .product-list{
        padding-left: 5em;
    }
}

@media only screen and (max-width: 776px) {
    .product-slider{
        display: grid;
        grid-template-columns: repeat(10, minmax(220px, 1fr));
        grid-template-rows: auto;
        grid-gap: 10px;
        padding: 13px;
    }

    .category-row{
        display: grid;
        grid-template-columns: repeat(4, minmax(150px, 1fr));
        grid-template-rows: auto;
        grid-gap: 5px;
        padding: 13px;
    }

    .product-list{
        padding-left: 2em;
    }
}

@media only screen and (max-width: 736px) {
    .product-slider{
        display: grid;
        grid-template-columns: repeat(10, minmax(220px, 1fr));
        grid-template-rows: auto;
        grid-gap: 10px;
        padding: 13px;
    }

    .custom-arrows{
        display: none;
    }
}

@media only screen and (max-width: 722px) {
    .product-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 5px;
        padding: 13px;
    }

.category-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-template-rows: auto;
    grid-gap: 5px;
    padding: 13px;
}

.product-slider{
    display: grid;
    grid-template-columns: repeat(10, 300px);
    grid-template-rows: auto;
    grid-gap: 5px;
    padding: 13px;
}
}

@media only screen and (max-width: 581px) {
    .product-list {
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    }

    .all-products h3{
        font-size: 14px;
    }

    .product-slider {
        grid-template-columns: repeat(10, minmax(170px, 1fr));
        overflow-x: auto;
    }
    
}

 @media only screen and (max-width: 388px) {
    .product-list {
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        grid-gap: 10px;
    }

    .product-slider {
        grid-template-columns: repeat(10, minmax(155px, 1fr));
        overflow-x: auto;
    }

    .all-products h3{
        font-size: 14px;
    }
} 

/*

@media only screen and (max-width: 384px) {
    .category-row {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-gap: 15px;
    }

    .all-products h3{
        font-size: 14px;
    }
} */