.card p{
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
    font-size: 13px;
    padding: 5px 0;
    text-align: left;
}

.card .message{
    color: white;
    position: absolute;
    top: 0;
    text-align: center;
    padding: 1em 0;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.card{
    transition: 0.1s;
    cursor: pointer;
    border-radius: 5px;
    /* width: 183px; */
    position: relative;
}

.card__info{
    padding: 5px;
}

.card:hover{
    box-shadow: 0px 0px 8px rgb(211, 209, 209);
    transform: scale(1.03);
}

.card h5{
    font-weight: lighter;
    font-size: 16px;
    color: rgb(49, 49, 49);
}

.card .card__info > button{
    background: #F68B1E;
    color: white;
    border: none;
    width: 98%;
    margin: 0.8em auto 0.5em auto;
    padding: 0.7em;
    border-radius: 4px;
    display: none;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
}

.card .card__info .number-of-item button{
    background: #F68B1E;
    color: white;
    padding: 0.7em;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
    border: none;
    box-shadow: 0px 4px 8px rgb(190, 189, 189);
}

.card .card__info .number-of-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.card button:hover{
    box-shadow: 0px 0px 8px rgb(146, 145, 145);

}

.card:hover .card__info > button {
    display: flex;
}

@media only screen and (max-width: 770px) {
   .card .card__info > button {
       display: flex;
   }

   .card__info h5{
       text-align: center;
       /* font-size: 13px; */
       font-weight: 500;
   }

   .card__info p{
       text-align: center;
   }
}